/* GENERAL */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #000;
  width: 4px;
}

::-webkit-scrollbar-track-piece {
  background: rgb(121, 121, 121);
  width: 6px;
  border-radius: 20px;
}


::selection {
  background: #1a4ada;
  color: white;
}



body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body>div {
  width: 100%;
}

img {
  height: auto;
  object-fit: contain;
  object-position: center;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

.main-content {
  height: 100%;
  position: relative;
}

.unstyles-btn {
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  border: transparent;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.add-btn {
  border: transparent;
  background: transparent;
  padding: 0;
  margin: 8px;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  i {
    font-size: 20px;
    color: #fff;
  }
}

.update-btn {
  border-radius: 3px;
  border: transparent;
  background: #198754;
  padding: 8px 10px;
  margin: 0 5px;
  outline: none;
  cursor: pointer;

  &:hover {
    background: #007a45;
  }

  i {
    color: #fff;
    font-size: 16px;
  }
}


.delete-btn {
  border-radius: 3px;
  border: transparent;
  background: #DC3545;
  padding: 8px 10px;
  margin: 0;
  outline: none;
  cursor: pointer;

  &:hover {
    background: #f00;
  }

  i {
    color: #fff;
    font-size: 16px;
  }
}

.close-btn {
  border: transparent;
  background: transparent;
  padding: 5px;
  outline: none;
  cursor: pointer;
  i {
    color: #000;
    font-size: 20px;
  }
}


.save-btn {
  border-radius: 3px;
  border: transparent;
  background: #198754;
  padding: 8px 10px;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;

  &:hover {
    background: #007a45;
  }

}

.cancel-btn {
  border-radius: 3px;
  border: transparent;
  background: #DC3545;
  padding: 8px 10px;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;

  &:hover {
    background: #7e0000;
  }
}

.submit-btn {
  display: block;
  border-radius: 3px;
  border: transparent;
  background: #198754;
  padding: 8px 10px;
  margin-left: auto;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;

  &:hover {
    background: #007a45;
  }
}
button {
  outline: none;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
.table-scroll {
  overflow-x: scroll;
}

.add-product-div {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: 20px 0;

}


.image-input {
  width: 40%;
  padding: 10px;
  input {
    margin: 20px 0;
  }
  img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2px;
  }
}

.product-inputs {
  width: 60%;
  padding: 10px;
}
.product-description-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #241987;
}

.product-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  .product-carousel {
    width: 45%;
  }
  .product-info {
    width: 50%;
    padding: 20px;
    .product-info-actions {
      display: flex;
      align-items: start;
      justify-content: space-between;
    }

    .product-name {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0;
    }
    .product-price {
      font-size: 20px;
      font-weight: bold;
      color: #E81504;
      margin: 10px 0;
    }
    .product-quantity {
      font-size: 16px;
      color: #989898;
      margin: 10px 0 30px 0;
    }

    .product-buy-btn {
      border-radius: 3px;
      background: #15509E;
      padding: 15px 60px;
      margin: 0 10px 0 0;
      outline: none;
      cursor: pointer;
      font-size: 16px;
      color: #fff;
      border: 1px solid #15509E;
      transition: all 0.3s ease;
      width: 60%;
      height: 50px;

      &:hover {
        background: #fff;
        border: 1px solid #15509E;
        color: #15509E;
      }
    }
    .product-add-card-btn {
      border-radius: 3px;
      background: #fff;
      padding: 15px 30px;
      margin: 0;
      outline: none;
      cursor: pointer;
      font-size: 16px;
      color: #15509E;
      border: 1px solid #15509E;
      transition: all 0.3s ease;
      width: 40%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 13px;
        margin-right: 1px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
    
  
  }
}

.dot-group {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 15px 0;

  .carousel__dot--selected {
    display: block;
    padding: 5px;
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    margin: 0 1px;
    :focus {
      outline: none;
    }
  }
  img {
    width: 100%;
    max-width: 50px;
    height: auto;
    object-fit: contain;
  }

}

.carousel__back-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: transparent;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.carousel__next-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: transparent;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.buyModal-img {
  width: 180px;
  margin-bottom: 10px;
}

.modalWrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  z-index: 9999;
  top: 0;
  left: 0;
}
.buyModal-emaunt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBody {
  width: 100%;
  max-width: 400px;
  .buymodal-product-name {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    color: #000;
  }
}
.modalBody {
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  background-color: #f9f9f9;
    
}

@media screen and (max-width: 600px) {
  .add-product-div {
    flex-direction: column;
  }

  .image-input {
    width: 100%;
  }

  .product-inputs {
    width: 100%;
  }
  .product-carousel {
    width: 100%;
  }
  .product-page {
    flex-direction: column;
    .product-carousel {
      width: 100%;
    }
    .product-info {
      width: 100%;
      .product-info-actions {
        flex-direction: column;
      }
      .product-buy-btn {
        width: 100%;
        padding: 15px 0;
        margin-bottom: 10px;
      }
      .product-add-card-btn {
        width: 100%;
      }
    }
  }
}