.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer-nav {
    justify-content: space-between;
    width: 80%;
}
.right-nav {
    list-style: none;
}
.icon-bottom {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    transition: opacity 0.15s ease-in-out;
    &:hover {
        color: #fff;
        opacity: 0.8;
    }
}
.sign-btn {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    transition: opacity 0.15s ease-in-out;
    &:hover {
        text-decoration: none;
        color: #000;
        opacity: 0.8;
    }
}

.footer-text-links {
    display: block;
    color: #f2f2f2;
    transition: all 0.15s ease-in-out;
    text-decoration: none;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 200;
    &:hover {
        color: #fff;
        opacity: 0.8;
    }
}
.copyright-text {
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
}
.footer-li-h {
    margin-bottom: 10px;
}
.phone-link-footer {
    margin-bottom: 10px;
}
.footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .footer {
        align-items: end;
        flex-wrap: wrap;
    }
    .footer-nav {
        flex-direction: column;
        width: 100%;
    }
    .footer-li-h {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .phone-link-footer {
        margin-top: 15px;
    }
    
}

@media screen and (max-width: 300px) {
    .footer {
        align-items: end;
    }
    .footer-nav {
        flex-direction: column;
        width: 100%;
    }
    .footer-li-h {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .phone-link-footer {
        margin-top: 15px;
    }
    
}