.search-input {
    width: 100%;
    // max-width: 500px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #D9D9D9;
    &:active {
        outline: none;
        border-bottom: 2px solid #000;

    }
    &:focus {
        outline: none;
        border-bottom: 2px solid #000;

    }
}
.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EBEFF3;
    padding: 9px;
    outline: none;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin-left: -5px;
    color: #4b4b4b;
    span {
       display: block;
       font-weight: 300;
    }
    &:active {
        outline: none;
        border-bottom: 2px solid #000;

    }
    &:focus {
        outline: none;
        border-bottom: 2px solid #000;

    }
}
.products-searched {
    z-index: 9999;
    width: 100%;
    background: #fff;
    left: 0;
}